:root {
  --imperial-red: #e63946ff;
  --honeydew: #f1faeeff;
  --powder-blue: #a8dadcff;
  --celadon-blue: #457b9dff;
  --prussian-blue: #1d3557ff;
}

.body {
  background-color: var(--imperial-red);
  font-size: 16px;
  line-height: 2.5rem;
}

.header {
  background-color: var(--prussian-blue);
  padding: 3rem;
  display: flex;
}

.header h1 {
  color: var(--honeydew);
  text-align: center;
  font-size: 3rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-content: center;
}

/*div container to which high-scores container is attached styling*/
.parent-container {
  margin-top: 3rem;
  padding: 4rem;
  position: relative;
}

.high-scores-container {
  margin: 0.5rem;
  padding: 0.5rem;
  width: 50%;
  background-color: var(--honeydew);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-content: center;
}

/*each high score element styling*/
.high-scores-container li {
  font-size: 2rem;
  padding: 1rem;
  list-style-type: none;
  text-align: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3rem;
  margin: 1rem;
}

.button-container button {
  margin: 2rem;
  padding: 1rem;
  background-color: var(--celadon-blue);
  color: var(--honeydew);
  font-size: 1rem;
}

.button-container button:hover {
  margin: 2rem;
  padding: 1rem;
  background-color: var(--prussian-blue);
  color: var(--honeydew);
  font-size: 1rem;
}

/*media query properties for small device size*/
@media screen and (max-width: 576px) {
  .high-scores-container li {
    font-size: 1rem;
    padding: 0;
  }
  .button-container {
    flex-direction: column;
    align-content: center;
  }
}
